[flake8]
ignore = E203, E266, E501, W503
exclude = ross/tests
# line length is intentionally set to 88 here because ROSS uses Black default config
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9
