sudo: required
dist: xenial
language: python

matrix:
  include:
    - python: 3.6
    - python: 3.7

install:
  - pip install -e .[dev]

script:
  - pytest ross --cov=ross

after_success:
  - codecov
