Sphinx==8.2.3
myst-nb==1.3.0
sphinxcontrib-bibtex==2.6.5
sphinx-copybutton==0.5.2
numpydoc==1.9.0
sphinx-book-theme==1.1.4
linkify-it-py==2.0.3
sphinx_design==0.6.1
sphinxcontrib-googleanalytics==0.5
